.diagonal-hero {
  --background: #e3e5e6;
  margin-top: 1rem;
  position: relative;
  isolation: isolate;
  padding: 2rem 0;
}

.diagonal-hero__content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
}

.diagonal-hero__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}

.diagonal-hero__body p {
  font-size: 1rem;
  line-height: 1.5;
  max-width: 450px;
  color: #000;
}

.diagonal-hero__image {
  position: relative;
}

.image-wrapper {
  position: relative;
  isolation: isolate;
  margin: 2rem;
}

.diagonal-hero__image .main-image {
  inset: 0;
  border-radius: 5px;
  border: 5px solid #fff;
  opacity: 0;
  object-fit: cover;
  aspect-ratio: 1;
}

.main-image-visible {
  animation: main-image-visible 0.5s ease-in-out forwards;
}

@keyframes main-image-visible {
  0% {
    opacity: 0;
    transform: rotate(2deg);
  }
  100% {
    opacity: 1;
    transform: rotate(-2deg);
  }
}

.diagonal-hero__image .second-image {
  position: absolute;
  inset: 0;
  border-radius: 5px;
  border: 5px solid #fff;
  aspect-ratio: 1;
  object-fit: cover;
  opacity: 0;
  z-index: -1;
}

.second-image-visible {
  animation: second-image-visible 0.5s ease-in-out forwards;
}

@keyframes second-image-visible {
  0% {
    opacity: 0;
    transform: rotate(-1deg);
  }
  100% {
    opacity: 1;
    transform: rotate(1deg);
  }
}

.diagonal-hero::before {
  content: "";
  position: absolute;
  z-index: -1;
  background-color: var(--background);
  inset: -2rem 0 0 0;
  width: 100vw;
  height: 30%;
  transform: skewY(0deg);
}

.diagonal-hero::after {
  content: "";
  position: absolute;
  z-index: -1;
  background-color: var(--background);
  inset: 0;
  transform: skewY(2deg);
}

.hero-cta-button {
  width: fit-content;
  display: inline-flex;
  background-color: #2b4f99;
  color: #fff;
  padding: 1rem;
  border-radius: 15px;
  text-transform: uppercase;
  letter-spacing: 5%;
  font-weight: 700;
}

.hero-cta-button:hover {
  background-color: #4d68c8;
  transition: all 0.2s ease-in-out;
}
