@import url("https://fonts.googleapis.com/css2?family=Inder&family=Signika+Negative:wght@500&family=Source+Sans+Pro&display=swap");
@import url("header.css");
@import url("hero.css");
@import url("footer.css");

:root {
  --body-background: #fafafa;
  --body-font-family: "Source Sans Pro", sans-serif;
  --h1-font-family: "Inder", sans-serif;
  --h2-font-family: "Signika Negative", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: var(--body-font-family);
  background-color: var(--body-background);
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

.svg {
  width: 100%;
  height: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-family: var(--h1-font-family);
  font-size: min(2.5rem, 3rem);
  line-height: 1.2;
  text-transform: capitalize;
}

h2 {
  font-family: var(--h2-font-family);
  font-size: 1.5rem;
  font-weight: 200;
  line-height: 1.2;
  color: #4b4b4b;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  width: 100%;
}

.top-section {
  background-image: radial-gradient(circle at bottom left, #e3e5e6, #1f80b15d);
}

.latest-posts {
  padding-block: 4rem;
}

.posts-grid {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
}

@media screen and (min-width: 768px) {
  .posts-grid {
    flex-direction: row;
    justify-content: space-between;
  }
  .posts-column__image {
    max-height: 350px;
  }
}

.posts-column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  cursor: pointer;
}

.posts-column:hover {
  animation: carousel-hover 0.2s ease-in-out forwards;
}

@keyframes carousel-hover {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1.02);
  }
}

.posts-column__image {
  border-radius: 5px 5px 0 0;
  border: 4px solid #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  object-fit: cover;
  aspect-ratio: 1;
  opacity: 0.8;
}

.posts-column__image:hover {
  opacity: 1;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.9);
  transition: all 0.2s ease-in-out;
}

.carousel {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.carousel__button-container {
  position: absolute;
  z-index: 200;
  background-color: transparent;
  height: 100%;
  width: 100px;
}

.carousel__button-container.left {
  left: 0;
}

.carousel__button-container.right {
  right: 0;
}

.carousel__button {
  background: #fff;
  padding: 4px;
  width: 80px;
  height: 80px;
  border: 2px solid #4d68c8;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  position: absolute;
  inset: 0;
  margin: auto;
  z-index: 1;
}

.carousel__button .svg {
  color: #4d68c8;
  width: 100%;
  height: 100%;
  animation: arrow_move 1s ease-in-out infinite;
}

@keyframes arrow_move {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

.hide {
  display: none;
}
