.carousel-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carousel-posts {
  display: flex;
  overflow: hidden;
}

.carousel-posts-item {
  flex: 0 0 33.33%;
  max-width: 100%;
  padding: 0 15px;
}
