.post-comments {
  margin-block: 5rem;
}

.comment {
  padding-block: 1rem;
  border-bottom: 1px solid #e5e5e5;
}

.comment.marked {
  background-color: aliceblue;
  padding: 1rem;
  transform: scale(1.03);
}

.comment__author {
  font-weight: bold;
  color: #353535;
}

.comment__content {
  margin-block: 1rem;
}
