dialog {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 2rem;
  background-color: #fff;
  margin: auto;
  animation: in 0.2s ease-in-out forwards;
}

@keyframes in {
  0% {
    transform: translateY(-3000px);
  }
  100% {
    transform: translateY(0);
  }
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

dialog[open] {
  display: block;
}

.dialog-body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.dialog-ok-button {
  display: block;
  width: fit-content;
  padding: 0 1rem;
}
