.image-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  display: none;
  justify-content: center;
  align-items: center;
  animation: in 0.2s ease-in-out forwards;
}

.image-modal.show {
  display: flex;
}

.image-modal__body {
  position: relative;
  inset: 0;
  margin: auto;
  padding: 3rem;
  max-width: 1000px;
  max-height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
}
