.search-main {
  margin-block: 1rem;
}

.search-result-item__link {
  display: block;
  padding: 1rem;
  text-decoration: none;
  color: var(--color-text);
}

.search-result-item__link:hover {
  background-color: aliceblue;
  border-radius: 5px;
  transform: scale(1.02);
  transition: all 0.3s ease-in-out;
}

.search-result-item {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-block: 1rem;
}

.search-result-item__img {
  width: 200px;
  aspect-ratio: 1/1;
  object-fit: cover;
  opacity: 0;
}
